h1 Welcome to Xodki
p = "Hi #{@user.username}"
p You have been invited to join xodki
p Your login credentials:
p = "Email: #{@user.email}"
p = "Password: #{@user.password}"
p You can change your email or password by logging in to your account
