@import '../../styles/shared.scss';

.ForgotPassword {
  margin: 4rem 0;

  &__card {
    padding: 24px 48px;
    margin-bottom: 24px;
    width: 100%;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $shadow-small;
  }

  &__link {
    text-decoration: none;
    color: $grey;
    transition: color 0.2s;

    &:hover {
      color: $dark;
    }
  }
}