@import '../../styles/shared.scss';

.ResetPassword {
  margin: 4rem 0;

  &__inner {
    padding: 24px 48px;
    margin-bottom: 24px;
    width: 100%;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $shadow-small;
  }
}