@import '../../styles/shared.scss';

.Spinner {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid $primary;
  border-radius: 50%;
  animation: loading 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}