@import '../../../styles/shared.scss';

.HeaderLink {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  color: $grey;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $dark;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &--active {
    color: $dark;
  }
}