.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $placeholder;

  &--sm {
    min-height: 140px;
  }

  &--hero {
    background-image: asset-url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 320px;
  }
}
