.card {
  text-decoration: none;
  color: inherit;

  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &__img {
    margin: 0;
    background: $placeholder;
    overflow: hidden;
    max-height: 180px;
    min-height: 180px;

    > * {
      object-fit: cover;
      object-position: 50% 50%;
      height: 180px;
      width: 100%;
    }
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
