.footer {
  padding: 64px 0;
  background-color: #fff;

  &__inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__legal {
    margin: 0.5rem 0;
    font-size: 80%;
  }

  &__link {
    padding: 0 0.75rem;
    color: $secondary;
    text-decoration: none;
    font-size: 0.875rem;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $dark;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}