@import "abstracts/variables";
@import "abstracts/boostrap_override";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "base/base";
@import "base/helpers";

@import "components/header";
@import "components/avatar";
@import "components/card";
@import "components/notice";
@import "components/banner";
@import "components/footer";

@import "pages/devise";
@import "pages/page";

// Fixes for simple form for boostrap 4
.has-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: theme-color("danger");
  }

  .form-control {
    background: theme-color-level("danger", -10);
    border-color: theme-color("danger");
  }
}
