@import '../../../styles/shared.scss';

.SidebarLink {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  color: $grey;
  text-decoration: none;
  user-select: none;

  &--active {
    color: $dark;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 3px;
      height: 100%;
      background-color: $primary;
    }
  }
}