@import '~breakpoint-sass/stylesheets/breakpoint';

// Fonts
//
// Font declarations

$font-stack-sans-serif: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
//
// Color system

$primary: #16a13a;
$alternative: #6cd6c0;
$error: #fa2a2b;
$dark: #1c1c1c;
$grey: #919191;
$background: #f6f6f6;
$border: #eee;
$white: #fff;

$color-map: (
  dark: #1c1c1c,
  grey: #919191,
  primary: #16a13a,
  background: #f6f6f6,
  border: #eee,
  white: #fff,
);

// Grid system
//
// Variables used for the generating grid classes

$grid-gutters: 2rem;
$grid-columns: 12;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Header Height
//
// Height of the header
$header-height: 58px;

// Border radius
//
// Theme's default border-radius

$border-radius: 0.25rem;


// Box shadow
//
// Theme's box-shadow
$shadow-small: 0 1px 2px 0 rgba(0, 39, 36, 0.15);
$shadow-large: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
